body {
  margin: 0;
  font-family: 'Nunito-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

p {
  line-height: 2rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  src: url('./assets/fonts/Nunito-Regular.ttf');
  font-family: "Nunito-Regular";
}


@font-face {
  src: url('./assets/fonts/Nunito-Bold.ttf');
  font-family: "Nunito-Bold";
}

button {
  background-color: #131313;
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 10px grey;
  cursor: pointer;
}
